.chat-input
  position: relative
  padding: 20px
  &__smile, &__actions
    position: absolute
    top: 50%
    transform: translateY(-50%)
    z-index: 2
  &__smile
    left: 35px
  &__actions
    right: 35px
    svg
      margin-left: 10px
  svg
    font-size: 18px
    position: relative
    z-index: 2
    fill: grey
    cursor: pointer
    transition: all .3s ease
    &:hover
      fill: #202020
  input
    border: 1px solid #d9d9d9!important
    padding-left: 45px
    padding-right: 100px
    &:focus
      box-shadow: none
  &__emoji-picker
    position: absolute
    bottom: 40px
    left: -15px
  &__record-status
    i
      display: inline-block
      height: 10px
      width: 10px
      background-color: #f56b6b
      border-radius: 50%
      position: relative
      &:before
        content: ''
        position: absolute
        left: 0
        top: 0
        height: 10px
        width: 10px
        background-color: rgba(245, 107, 107, 0.4)
        border-radius: 50%
        animation: record-animation 0.8s ease-in-out infinite


@keyframes record-animation
  0%
    transform: scale(1)
  50%
    transform: scale(1.5)
  100%
    transform: scale(1)
